.session-footer {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  .message-retention-warning {
    white-space: nowrap;
    padding: 0;
    letter-spacing: -1px;
    opacity: 0.4;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -20px;
    left: 0;
    pointer-events: none;
  }

  &.container {
    padding-top: 12px;
    background-color: #0000001E !important;
  }

  .col {
    padding: 2px;

    button {
      height: 62px;
      width: 62px;
      font-size: 20px;
      line-height: 56px;
    }
  }
}

.session-main {
  margin-top: 66px;
  height: calc(100% - 158px);
  overflow-y: auto;
}

.navbar {
  background-color: #00000022 !important;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  .title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .button {
    margin-left: 10px;

    ion-icon {
      zoom: 1.5;
      padding: 10px;
      margin: -8px -10px -12px -10px;
      flexGrow: 0;
    }
  }
}
